/* Navbar.css */
.navbar {
    background-color: #343a40; /* dark background color */
  }
  
  .navbar-brand {
    color: #fff; /* white text color */
    font-size: 1.5rem; /* increased font size */
  }
  
  .navbar-nav .nav-link {
    color: #fff; /* white text color */
  }
  
  .navbar-nav .nav-link.active {
    color: #ffc107; /* active link text color */
  }
  